/* Write your CSS here */

.cart-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-end;
  margin-bottom: 40px;
}

.checkout-btn {
  background-color: #0b69ff;
  color: #ffffff;
  width: 150px;
  height: 30px;
  border: 0;
  border-radius: 8px;
}

.name-color {
  color: #616e7c;
}

.price {
  color: #171f46;
  font-size: 35px;
}
